$fontSource: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;

$bodyBg: #fff;
$bodyColor: #2C2F3C;
$bodyLineHeight: normal;

$pFont: $fontSource;

$heroImage: url(../img/m-h-day.jpg);

$highlightColor: #14A0C7;

$colorBtnPrimary: #699900;

$cardBg: #21232E;
$cardTextColor: #BBBEC9;

$bannerGradient: linear-gradient(to right, rgba(103,152,5,1) 0%, rgba(48,93,206,1) 100%);