$fontSource: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;

$bodyBg: #21232E;
$bodyColor: #fff;
$bodyLineHeight: normal;

$pFont: $fontFresca;

$heroImage: url(../img/m-h-night.jpg);

$highlightColor: #FF4E33;

$colorBtnPrimary: #E3AC00;

$cardBg: #3B3F50;
$cardTextColor: #BBBEC9;

$bannerGradient: linear-gradient(to right, rgba(224,165,4,1) 0%, rgba(151,52,77,1) 100%);